<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <%= link_to "Finance Tracker", root_path, class: 'navbar-brand' %>
    <% if current_user %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><%= link_to "My Protfolio", my_portfolio_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to "My Profile", edit_registration_path(current_user), class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to "My Friends", my_friends_path, class: 'nav-link' %></li>
        </ul>
        <ul class="navbar-nav align-items-center ml-auto">
          <li class="nav-item">
            <i class="fa fa-user"></i>
            <%= current_user.full_name.present? ? current_user.full_name : current_user.email %>
          </li>
          <li class="nav-item ml-md-4"><%= link_to("logout", destroy_user_session_path, class: "btn btn-danger", method: :delete) %></li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>
